<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Movie Reservation</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a routerLink="/movies" routerLinkActive="active" class="nav-link">Filme</a></li>
        <li class="nav-item"><a routerLink="/screenings" routerLinkActive="active" class="nav-link">Proiecții</a></li>
        <li class="nav-item"><a routerLink="/halls" routerLinkActive="active" class="nav-link">Săli</a></li>
        <li class="nav-item"><a routerLink="/reservations" routerLinkActive="active" class="nav-link">Rezervări</a></li>

        <!-- User + Logout -->
        <li class="nav-item" *ngIf="authService.currentUser$ | async as user">
          <span class="nav-link">{{ user.fullName }}</span>
          <button class="btn btn-outline-light ms-2" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
