<form (ngSubmit)="submit()" #f="ngForm" class="card p-4 shadow-sm">

  <h4 class="mb-3">Autentificare</h4>

  <div class="mb-3">
    <label class="form-label">Email</label>
    <input class="form-control" [(ngModel)]="form.email" name="email" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Parola</label>
    <input type="password" class="form-control" [(ngModel)]="form.password" name="password" required>
  </div>

  <button type="submit" class="btn btn-primary w-100 mb-3">Login</button>
  
</form>

<a routerLink="/register" class="btn btn-outline-secondary w-100 mt-3">
  Creează un cont nou
</a>
